{
  "presets": ["es2015", "stage-0"],
  "env": {
    "development": {
      "plugins": [
        ["transform-decorators-legacy"],
				["transform-class-properties"],
				["transform-builtin-extend", {
          "globals": ["Error", "Array", "Map"]
        }]
      ]
    },
    "production": {
      "plugins": [
				["transform-decorators-legacy"],
				["transform-class-properties"],
				["transform-builtin-extend", {
          "globals": ["Error", "Array", "Map"]
        }]
      ]
    }
  }
}